@import 'vars';

body {
	background-color:$bg;
}

%basic-text {
	padding:24px;
	margin:16px;
	line-height:1.6em;
	font-size:18px;
}

div.wrapper {
	p {
		@extend %basic-text;
		color: $text-color;
		font-family: $font;
	}
	p:nth-child(1) {
		background-color:$cunty-bollocks;
		@include rounded(24px);
		color: white;
	}
	p:nth-child(2) {
		background-color:$twat-flap;
		@include rounded(8px 24px 16px 2px);
	}
}
